{% extends "base.html" %}
{% block content %}
<div id="tl_content">
    <div id="tl_Intleft">
        {% if appointment_step1_form %}
            {% if have_card %}
                {% if is_senior %}
                <p> Usted tiene una tarjeta <span>tullaveplus</span> de adulto mayor. Puede solicitar el beneficio de discapacidad, pero debe renunciar al beneficio de adulto mayor. Si usted quiere cambiar su tarjeta por una de discapacidad, puede hacerlo. Para ello continúe con el proceso de agendar una cita.</p>
                {% else %}
                <p> Usted tiene una tarjeta <span>tullaveplus</span> pero debe cambiarla por una de discapacidad para obtener el beneficio. Para ello continúe con el proceso de agendar una cita.</p>
                {% endif %}
            {% else %}
            <p> Usted no tiene a&uacute;n una tarjeta <span>tullave</span></p>
            {% endif %}
            <hr><br>Por favor seleccione un punto de personalizaci&oacute;n para agendar su cita</span><br><br>
            <form action="{% url 'appointment-step2' %}" method="post">
                {% csrf_token %}
                {{ appointment_step1_form.as_p }}
                <input type="submit" value="Ver disponibilidad" size="20">
            </form>
        {% endif %}
        {% if appointment_step2_form %}
            <form action="{% url 'appointment-step3' place_url='1' day_url=day_url %}" method="POST">
                {% csrf_token %}
                {{ appointment_step2_form.as_p }}
                <!-- <input type="submit" formaction="escenario1b.html" value="Regresar" size="20">  -->
                <input type="submit" value="Asignar esa cita" size="20">
            </form>
        {% endif %}
        {% if done %}
            <p>Su cita fue programada para el {{ appointment_date|date:"l j \d\e F" }} en el punto seleccionado a las {{ appointment_date|time:"h:i a" }}. Recuerde cancelar su cita si no puede asistir.</p>
            <p>No olvide llevar su documento de identificación, pues sin él, no podrá recibir su tarjeta <span>tullave</span></p>
        {% endif %}
        {% if error_on_schedule %}
            Error
        {% endif %}
    </div>
</div>
{% endblock %}