{% extends "base.html" %}
{% block content %}
<div id="tl_content">

 <div id="tl_Intleft">
    <h1>Preguntas Frecuentes</h1>

    <h2>1.  ¿Qué se dispone en el Decreto 429 del 11 de septiembre de 2012?</h2>
    <br>
    El decreto 429 de 2012 reglamenta el acuerdo 484 del 27 de diciembre de 2011, por medio del cual se establece un subsidio de transporte a favor de las personas con discapacidad en el Distrito Capital.

    <br><br><h2>2.  ¿El subsidio de transporte para personas con discapacidad se puede utilizar entonces en cualquier medio de transporte?</h2>

    <br>De acuerdo con lo establecido en el artículo segundo del acuerdo 484 de 2011, este subsidio únicamente se puede utilizar en los vehículos de transporte público que hacen parte del Sistema Integrado de Transporte Público SITP y sistema Transmilenio.

    <br><br><h2>3.  ¿Teniendo en cuenta que el subsidio es para el Sistema Integrado de Transporte Público SITP, en que rutas puedo utilizarlo al momento de recibirlo?</h2>

    <br>En la actualidad se pueden usar en todo el sistema, servicios zonales. Troncales y Transmicable. Si desea más información puede consultar <span><a href="http://www.tullaveplus.gov.co/web/public/tarifas">www.tullaveplus.gov.co</a></span>

    <br><br><h2>4.  ¿De cuánto es el subsidio que se le otorgará a las personas con discapacidad?</h2>

    <br>El valor del subsidio para el año 2022 se obtiene de la siguiente manera:

    <br>

    <br>Valor subsidiado = 40% x Tarifa máxima x N° viajes a subsidiar
    <br>Valor subsidiado = 40% x $2.650 x 25 = $26.500
    <br><br><b>Por lo tanto el valor del Subsidio para el año 2022 será de $ 26.500</b>
   

    <br><br><h2>5.  ¿Si tengo un accidente hoy, que me genera  una incapacidad  médica  por  algún tiempo por ejemplo, dos semanas o dos meses, puedo acceder  a este subsidio de transporte? </h2>

    <br>No, el subsidio únicamente se otorgará a personas con discapacidad permanente, es decir, personas con deficiencias físicas, mentales, intelectuales o sensoriales a largo plazo, que al interactuar con entornos sociales, económicos, políticos y demás, encuentran diversas barreras que puedan impedir su participación plena y efectiva en la sociedad (Ley 1346 de 2009).

    <br>Esta discapacidad debe estar medicamente certificada y la persona estar inscrita en el Registro para la Localización y Caracterización de las Personas con Discapacidad de la ciudad de Bogotá D.C., el cual es administrado y actualizado por la Secretaría Distrital de Salud.

    <br><br><h2>6.  ¿Cuál es el procedimiento administrativo para que sea entregada la tarjeta a una persona con discapacidad?</h2>

    <br>1) Solicitar a la EPS la historia clínica que contenga el diagnóstico relacionado con la discapacidad, emitida por el médico tratante.

    <br>2) Solicitar ante la Secretaría de Gobierno el Certificado de Residencia.  Consúltalo  aquí  <span><a href="http://app.gobiernobogota.gov.co/TRAMITES/">app.gobiernobogota.gov.co-TRAMITES</a></span>

    <br>3) Dirigirse a la Secretaría de Salud con los siguientes documentos:

    <br><br><p>Carta con la solicitud de valoración por equipo multidisciplinario para certi­ficación de discapacidad
        Registro de localización y Caracterización de Personas con Discapacidad (RLCPD), donde se especi­fique: 
        <br><br><p><br>a) Nombre completo y número de identifi­cación del paciente.
                   <br>b) Dos (2) Teléfonos de contacto.
                   <br>c) Correo electrónico de contacto.
                   <br>d) Historia Clínica del usuario.
                   <br>e) Documentos o exámenes que complementen el diagnostico.
                   <br>f) Certificado de Residencia.
            </p>
        </p>
    <br><br><h2>7.  ¿Toda persona con discapacidad permanente y que esté inscrita en el Registro para la Localización y Caracterización de las Personas con Discapacidad de la ciudad de Bogotá D.C.  recibirá  el subsidio?</h2>

    <br>En una primera etapa solamente recibieron el subsidio las personas que estuviesen debidamente inscritas hasta el 11 de septiembre de 2012 y que  cumplan  con los criterios  establecidos en el Decreto 429 del 11 de septiembre de 2012, es decir, no ser propietarios de vehículos automotores ni ser beneficiario de excepción al pico y placa para  personas con discapacidad.

    <br>Para  el 2013 recibieron el subsidio las  personas  que cumplieron con los requisitos anteriormente expuestos  y que  se inscribieron entre el 12 de Septiembre y el 31 de diciembre de 2012.

    <br>Para el año 2014 se incluyeron  las personas  inscritas  entre  el 1 de enero y 31 de Diciembre  de  2013,  bajo los mismos criterios y así sucesivamente se hará hasta el 2017.

    <br><br><h2>8.  ¿Si ya estoy inscrito en el Registro para la Localización y Caracterización de Personas con Discapacidad, de la ciudad de Bogotá D.C. antes del 11 de septiembre de 2012 y mis datos de identificación personal presentan inconsistencias, pierdo el subsidio? </h2>
    <br>Para más información ingrese a    <span><a href= "https://guiatramitesyservicios.bogota.gov.co/tramite-servicio/subsidio-de-transporte-para-personas-con-discapacidad/">tramite-servicio-subsidio-de-transporte-para-personas-con-discapacidad </a></span>
    <br>No, la persona con discapacidad puede actualizar sus datos sin que esto se considere un nuevo registro, para ello durante el aislamiento preventivo por COVID-19 podrás hacerlo de manera no presencial a través del correo electrónico: <span><a href=" solicitudcerticadodiscapacidad@saludcapital.gov.co "> solicitudcerticadodiscapacidad@saludcapital.gov.co </a></span>

    <br><br><h2>9.  ¿Si una persona no está inscrita en el Registro para la Localización y Caracterización de Personas con Discapacidad, donde debe registrarse? </h2>

    <br>El registro se podrá realizar durante el aislamiento preventivo por COVID-19 a través del correo electrónico: solicitudcerti­cadodiscapacidad@saludcapital.gov.co 
     <br> Para más información ingrese a <sapn><a href= "www.guiatramitesyservicios.bogota.gov.co ">guiatramitesyservicios.bogota </a></sapn>  
    <br><br><h2>10. ¿Qué  condiciones debe tener la persona con discapacidad para poder registrarse?</h2>
<br>

    <br>Aplica para las personas con discapacidad, que estén registradas en la base de datos de la Secretaria de Salud del Distrito Capital y no que no sean propietarios de vehículos automotores ni beneficiarios de excepción al pico y placa para personas con discapacidad.

    <br><br><h2>11. ¿Qué  debe llevar la persona con discapacidad para registrarse? </h2>
<br><p>
    Se deberán presentar en el punto de registro los siguientes documentos:
    <br> 1) Carta con la solicitud de valoración por equipo multidisciplinario para certi­ficación de discapacidad.
    <br> 2) Registro de localización y Caracterización de Personas con Discapacidad (RLCPD), donde se especi­fique:
    <br><br><p><br>a) Nombre completo y número de identifi­cación del paciente.
        <br>b) Dos (2) Teléfonos de contacto.
        <br>c) Correo electrónico de contacto.
        <br>d) Historia Clínica del usuario.
        <br>e) Documentos o exámenes que complementen el diagnostico.
        <br>f) Certificado de Residencia.
        <br>g) Copia legible del documento de identificación.
 </p>
</p>
    <br><br><h2>12. ¿Cuáles son las características de este registro? </h2>

    <br>Es voluntario  y  gratuito.

    <br><br><h2>13. ¿Cómo verifica una persona si es beneficiaria del subsidio de transporte para población con discapacidad?</h2>

    <br>La persona con discapacidad debe ingresar a la página <a href="http://www.tullaveplus.com"> www.tullaveplus.com</a> y ubicar el link
    <a href="https://discapacidad.rbsas.co/tarjeta/">"Personas con Discapacidad"</a> , en este link ingresar el tipo y número de documento de identidad.

    <br>El sistema realizará la validación de la información y le informará a la persona si se encuentra en el listado o le indicará si es cobijado por alguna de las razones por las cuales una persona no aparece registrada; estas causas son:

    <li>Persona aparece como fallecida
    </li><li>Tiene excepción de Pico y Placa
    </li><li>Es propietario de vehículo automotor
    </li><li>No aparece inscrito en el Registro para la Localización y Caracterización de Personas con Discapacidad.
</li>
    <br><br><h2>14. ¿A través de que mecanismo será entregado el subsidio a las personas con discapacidad? </h2>

    <br>El subsidio se entregará  a través de un medio personalizado que es una tarjeta <span>tullave</span>, en la cual aparece el nombre, documento de identidad y foto del beneficiario (a).

    La entrega de la misma  estará a cargo de TRANSMILENIO en 40 puntos habilitados para realizar la entrega personalizada, una vez la persona con discapacidad haya agendado una cita a través de <b><a href="http://discapacidad.rbsas.co/tarjeta/">http://discapacidad.rbsas.co/tarjeta/</a>.</b>

    <br><br><h2>15. ¿Cuándo se iniciará el proceso de entrega de tarjetas <span>tullave</span> a las personas con discapacidad?</h2>

    <br>Se entregaron a partir del 26 de octubre de 2012. La carga del subsidio se inició, a partir del 1 de noviembre de 2012, en todas las estaciones, portales y puntos de personalización.


    <br><br><h2>16. ¿Cuáles son las condiciones para el manejo de la tarjeta <span>tullave</span> que se entregará a las personas con discapacidad?</h2>

    <br><li>La tarjeta <span>tullave</span> es para uso en todo el sistema de transporte,servicios zonales, troncales y transmicable.

    </li><li>Sólo se podrá tener una tarjeta <span>tullave</span>, la persona que tenga la condición de adulto mayor o beneficiario del Sisbén (tarjeta Apoyo Ciudadano) deberá seleccionar si conserva esta tarjeta o empieza a utilizar la tarjeta para persona con discapacidad.

    </li><li>La tarjeta es para uso personal de la persona con discapacidad
</li>
    <br><br><h2>17. ¿Cómo es el proceso de carga del subsidio en la tarjeta <span>tullave</span>?</h2>

    <br><b>Usuario nuevo</b><br>
    La persona con discapacidad que reciba la tarjeta tullave entre el día 1 y el día 15 del mes, recibirá dentro del mismo mes el subsidio. La persona con discapacidad que reciba la tarjeta tullave a partir del día 16 al último día del mes se le cargará el valor del subsidio el siguiente mes luego de haber recibido la tarjeta. Para los meses siguientes la persona puede cargar el valor del subsidio en cualquier día del mes (sólo se carga una sola vez por mes).Es fundamental destacar que la carga del subsidio se realiza en cualquiera de las estaciones, dispositivos de carga automática y  taquillas del sistema.

    <br><br><h2>18. ¿La persona con discapacidad debe pagar por recibir la tarjeta?</h2>

    <br>Sí, la tarjeta será entregada por un costo de $6.000. En caso de pérdida o robo la reposición tendrá un costo de $6.000 y se debe reportar al 4824304. Para bloquearla y recibir información sobre la reposición.

    <br><br><h2>19. ¿Una persona  con discapacidad puede dejar de recibir el subsidio? </h2>

    <br>Si, la calidad de beneficiario (a) del subsidio de transporte se puede suspender o perder en los siguientes casos:

    <br><br><b>Suspensión de la calidad de beneficiario (a) del subsidio</b>
    <br>
    <li>Cuando se compruebe que la tarjeta del subsidio no presenta ningún tipo de uso por dos (2) meses continuos.</li>
    <li>Cuando el (la) solicitante se encuentre identificado como propietario de vehículos automotores en el territorio nacional o inscrito en el registro de la Secretaría Distrital de Movilidad para circular sin aplicación de la restricción de pico y placa.</li>
    <li>Cuando el (la) beneficiario (a) así lo solicite a la Secretaría Distrital de Movilidad a través de carta dirigida a la Dirección de Servicio al Ciudadano (Calle 13 # 37 -35). La carta debe estar acompañada de copia del documento de identidad.</li>
    <li>Cuando se evidencia que el usuario tiene un saldo acumulado en su tarjeta (medio de pago) mayor o igual a tres subsidios de recarga de discapacidad mensuales ($79.500) y que al menos el 80% de las recargas de los últimos tres meses se hayan realizado gracias a la carga del subsidio.</li>
<br>
    <br><b>Pérdida de la calidad de beneficiario (a) del subsidio</b>

    <br><li>Cuando las entidades competentes retiren al beneficiario del subsidio por no acreditar la condición de discapacidad permanente o a largo plazo, emitida por parte de las Empresas Promotoras de Salud (EPS) y demás Empresas Administradoras de Beneficios (EAPB), de acuerdo con las directrices emitidas por la Secretaría Distrital de Salud, lo cual sólo ocurrirá a partir del mes de Julio del año 2013.
    <li>Cuando la Empresa Promotora de Salud (EPS) y las demás Empresas Administradoras de Beneficios (EAPB) no certifiquen la condición de persona con discapacidad del beneficiario. Para estos efectos la Secretaría Distrital de Movilidad es la entidad competente para pronunciarse al respecto e informará a las entidades involucradas en el tema para lo de su competencia.

    <br>Puntos de información sobre Subsidio de Transporte para personas con discapacidad

    <br><li>    <a href="http://www.tullaveplus.com">www.tullaveplus.gov.co</a></li>
    <li>    <a href="http://www.movilidadbogota.gov.co">www.movilidadbogota.gov.co</a></li>
    <li>    <a href="http://www.transmilenio.gov.co">www.transmilenio.gov.co</a></li>
    <li>    Línea 195</li>
    <li>    Línea de Movilidad 3649416</li>
    <li>    <a href="{% url 'movilidad' %}">Centros Locales de Movilidad </a></li>

</div>
</div>
{% endblock %}
