{% extends "base.html" %}
{% block content %}
	<div id="tl_content">

 <div id="tl_Intleft">
<h1>Directorio Subdirecciones locales para la Integración Social</h1>
<table border="1">

<tr><th>	Nº 	</th><th>	SUB LOCALES	</th><th>	DIRECCION	</th></tr>
<tr><td>	1	</td><td>	USAQUEN 	</td><td>	Calle 165 No. 7-38
Servitá	</td><td>
<tr><td>	2	</td><td>	CHAPINERO	</td><td>	Calle 50A 13-58	</td><td>
<tr><td>	3-17</td><td>	SANTA FE - CANDELARIA	</td><td>	Cra. 2 No. 4-10
Lourdes	</td><td>
<tr><td>	4	</td><td>	SAN CRISTOBAL	</td><td>	Diag. 37 Sur, Cra. 2E
 La Victoria	</td><td>
<tr><td>5-20</td><td>USME-SUMAPAZ</td><td>	Calle 91sur No 3C 34 este 	</td><td>
<tr><td>	6	</td><td>	TUNJUELITO	</td><td>	Diag. 47 A Nº 53-92 sur, Venecia	</td><td>
<tr><td>	7	</td><td>	BOSA	</td><td>	Calle 73 Sur Nº 81 B-10 Bosa-Laureles	</td><td>
<tr><td>	8	</td><td>	KENNEDY	</td><td>	Calle 38 Sur No 94 C -29 Bellavista-Patio Bonito 	</td><td>
<tr><td>	9	</td><td>	FONTIBON	</td><td>	Cra. 104B No. 22J-15 Giralda	</td><td>
<tr><td>	10	</td><td>	ENGATIVA	</td><td>	CALLE 70 No. 78-07              Santa Helenita	</td><td>
<tr><td>	11	</td><td>	SUBA	</td><td>	CRA. 91 No. 143-15	</td><td>
<tr><td>	12-13</td><td>	BARRIOS UNIDOS-TEUSAQUILLO	</td><td>	Cra 58 Nº 67 D-31	</td><td>
<tr><td>	14	</td><td>	MARTIRES	</td><td>	Cra. 23 No. 22A-72 Samper Mendoza	</td><td>
<tr><td>	15-16	</td><td>ANTONIO NARIÑO-
PTE. ARANDA</td><td>	Carrera 33 Nº 4 A-23
Veraguas Central	</td><td>
<tr><td>	18	</td><td>	RAFAEL URIBE URIBE	</td><td>	Cra. 15 C 31G-40 sur               Gustavo Restrepo	</td><td>
<tr><td>	19	</td><td>	CIUDAD BOLIVAR	</td><td>	Calle 70 Sur No. 34-05 Arborizadora Alta	</td><td>
<tr><td>	20	</td><td>	ICI	</td><td>	Calle 12 N° 3-79	</td><td>



</table>
</div>
</div>
{% endblock %}
