{% extends "base.html" %}
{% block content %}
<div id="tl_content">

 <div id="tl_Intleft">
<h1>Información Centros Locales de Movilidad y Alcaldías Locales</h1>
<table border="1">

<tr><th>    No  </th><th>   LOCALIDAD   </th><th>   DIRECCION DEL PUNTO DE CONTACTO, CENTRO LOCAL DE MOVILIDAD  </th><th>   TELEFONO FIJO   </th></tr>
<tr><td>    1   </td><td>   Usaquén </td><td>   KR 6A   # 118 - 03  </td><td>   6195088 EXT121  </td><tr>
<tr><td>    2   </td><td>   Chapinero   </td><td>   KR 13 # 54 - 74 </td><td>   3 48 62 00  </td><tr>
<tr><td>    3   </td><td>   Santa Fé    </td><td>   CL 21 # 5-74    </td><td>   3821640 - 3374232 - 3821669 </td><tr>
<tr><td>    4   </td><td>   San Cristobal   </td><td>   AV. Primera de Mayo #  1-40 SUR </td><td>   3636660 ext. 227    </td><tr>
<tr><td>    5   </td><td>   Usme    </td><td>   KR 2A # 137  - 51 SUR   </td><td>   7708301 </td><tr>
<tr><td>    6   </td><td>   Tunjuelito  </td><td>   KR 7 # 51-52 SUR    </td><td>   7695311 Ext. 148    </td><tr>
<tr><td>    7   </td><td>   Bosa    </td><td>   KR 80 I #61-05 SUR  </td><td>   NO SE TIENE </td><tr>
<tr><td>    8   </td><td>   Kennedy </td><td>   TV 78 K #  41 A - 04  SUR   </td><td>   4481400  EXT 194    </td><tr>
<tr><td>    9   </td><td>   Fontibón    </td><td>   CL 18 # 99 -  02    </td><td>   2670114 /2678134 EXT 100    </td><tr>
<tr><td>    10  </td><td>   Engativa    </td><td>   CL 71 # 73A - 44 piso 4 ala Sur </td><td>   NO SE TIENE </td><tr>
<tr><td>    11  </td><td>   Suba    </td><td>   CL 146 # 90 - 26 CASA DEL DEPORTE   </td><td>   NO SE TIENE </td><tr>
<tr><td>    12  </td><td>   Barrios Unidos  </td><td>   CL 74 A # 63-04 </td><td>   2258580 EXT. 115    </td><tr>
<tr><td>    13  </td><td>   Teusaquillo </td><td>   CL 39 B # 19 - 46   </td><td>   2870094 </td><tr>
<tr><td>    14  </td><td>   Mártires    </td><td>   KR 19 B #  23 - 90 JAL  </td><td>       </td><tr>
<tr><td>    15  </td><td>   Antonio Nariño  </td><td>   CL 17 Sur # 18-49  piso 5   </td><td>   3730222 ext 135 </td><tr>
<tr><td>    16  </td><td>   Puente Aranda   </td><td>   KR 31D # 4 - 05 </td><td>   3648460 </td><tr>
<tr><td>    17  </td><td>   Candelaria  </td><td>   KR 5 # 14 - 46  </td><td>   3416009 - 3410261   </td><tr>
<tr><td>    18  </td><td>   Rafael Uribe Uribe  </td><td>   CL 32 SUR # 23-62   </td><td>   366 00 07 ext 103   </td><tr>
<tr><td>    19  </td><td>   Ciudad Bolívar  </td><td>   KR 73 # 59 - 12 SUR </td><td>   7799280 ext 234 </td><tr>
<tr><td>    20  </td><td>   Sumapaz </td><td>   KR 2A # 137  - 51 SUR   </td><td>   7708301 </td><tr>


</table>
</div>
</div>
{% endblock %}