{% extends "base.html" %}
{% block content %}
<div id="tl_content">

	<div id="tl_Intleft">
        <h1><b> SUBSIDIO DE DISCAPACIDAD.</b></h1>

        <h2> Paso a paso en el registro para la localización y caracterización de las personas con discapacidad</h2>

        <h3>
            <ul>
           
                <br><li> 1) Solicitar a la EPS la historia clínica que contenga el diagnóstico relacionado con la discapacidad,
                    emitida por el médico tratante.</li>
                <br><li> 2) Solicitar ante la Secretaría de Gobierno el Certificado de Residencia. </li>
                <br><li> 3) Dirigirse a la Secretaría de Salud con los siguientes documentos: </li>
                <br><li> 4) Carta con la solicitud de valoración por equipo multidisciplinario para certificación de discapacidad y
                    Registro de localización y Caracterización de Personas con Discapacidad (RLCPD), donde se especifique: 
                     <h4>
                        <ul>
                       
                        <br><li> a Solicitar a la EPS la historia clínica que contenga el diagnóstico relacionado con la discapacidad,
                            emitida por el médico tratante.</li>
                        <br><li> b Solicitar ante la Secretaría de Gobierno el Certificado de Residencia. </li>
                        <br><li> c Dirigirse a la Secretaría de Salud con los siguientes documentos: </li>
                        
                    </ul>
                    </h4></li>
               <br><li> 6) Historia Clínica del usuario. </li>
               <br><li> 7) Documentos o exámenes que complementen el diagnostico. </li>
               <br><li> 8) Certificado de Residencia.</li>
               <br><li> 9) Copia legible del documento de identificación. </li>
            </ul>
        </h3>
        <div><h2>
        <h1> Puntos de atención</h1>
        <br><b>Canal telefónico</b>
        <br>Línea Salud para Todos 3649666
        <br>Lunes a viernes de 7:00 a.m. a 4:30 p.m.
        <br>  y sábados de 8:00 a.m. a 12:00 m.
        </h2>
        </div>
        <div><h2>
         <h1>Canal virtual</h1>
         <br>Durante el aislamiento preventivo por COVID-19 podrás hacerlo de manera no presencial a través del correo electrónico:
         <br>solicitudcertificadodiscapacidad@saludcapital.gov.co
         <br>Para más información ingrese a
         <br><a href = "https://guiatramitesyservicios.bogota.gov.co/"><span>www.guiatramitesyservicios.bogota.gov.co</span></a>
         </h2>
        </div>
<h3>Una vez realizado los pasos anteriores y ya se encuentre confirmado la inscripción en el registro, debe dirigirse a un 
    punto de personalización ingresando a <a href="http://www.tullaveplus.com"> <span>www.tullaveplus.com</span></a> para realizar la respectiva validación del Subsidio.
    </h3>

</div>
</div>
{% endblock %}