{% extends "base.html" %}
{% block content %}
<div id="tl_content">

 <div id="tl_Intleft">
<h1>Registro para la localización y caracterización de personas con discapacidad en el Distrito Capital</h1>
<table border="1">

<tr><th>	No	</th><th>	Localidad	</th><th>	Lugar	</th><th>	Direccion	</th><th>	Horario	</th></tr>

<tr><td>	1	</td><td>	Usaquen	</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD PABLO VI 	</td><td>	CL 165 7 38	</td><td>Martes Y Miércoles
8:00 a.m. - 12:00 p.m. y 2:00 p.m. - 4:00 p.m.	</td></tr>

<tr><td>		</td><td>		</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD VERBENAL 	</td><td>	KR 18 A 187 91 	</td><td>	Segundo y cuarto jueves del mes de 8:00am a 12:00m	</td></tr>

<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD CODITO	</td><td>	KR 6 A 186 14 	</td><td>	Primer y Tercer Viernes Del Mes
8:00 a.m. - 12:00 p.m.
	</td></tr>


<tr><td>	2	</td><td>	Chapinero	</td><td>	ALCALDÍA LOCAL DE BARRIOS UNIDOS	</td><td>	CL 74 A 63 04 	</td><td>	Lunes 1:00 p.m. - 4:30 p.m.	</td></tr>
<tr><td>		</td><td>		</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD CHAPINERO 	</td><td>	CL 66 15 41  	</td><td>	Martes 8:00 a.m. - 1:00 p.m. 
	</td></tr>
	<tr><td>		</td><td>		</td><td>	SUBDIRECCIÓN LOCAL DE INTEGRACIÓN
SOCIAL CHAPINERO 	</td><td>	CL 50 A 13 58  	</td><td>	Miércoles 8:00 a.m. - 12:00 p.m.
Viernes 1:00 p.m. - 4:30 p.m.
	</td></tr>



<tr><td>	3	</td><td>	Santafe	</td><td>	UNIDAD DE SERVICIOS DE SALUD
PERSEVERANCIA	</td><td>	KR 5 33 A 45	</td><td>	Lunes 8:00 a.m. -12:00 p.m. 	</td></tr>



<tr><td>	4	</td><td>	San Cristóbal	</td><td>	UNIDAD DE SERVICIOS DE SALUD BELLO
HORIZONTE 	</td><td>	KR 3 A ESTE 31 C 21 SUR 	</td><td>	Martes y Jueves 8:00 a.m. - 4:00 p.m.	</td></tr>



<tr><td>	5	</td><td>	Usme	</td><td>	UNIDAD DE SERVICIOS DE SALUD BETANIA	</td><td>	CL 76 1 42 SUR </td><td>	Martes y Jueves 7:30 a.m. - 4:30 p.m.
	</td></tr>
<tr><td>		</td><td>		</td><td>	ANTIGUO COL VIRREY	</td><td>	CL 91 SUR 3 B 42 ESTE	</td><td>	Miércoles 8:00 a.m. - 4:00 p.m	</td></tr>



<tr><td>	6	</td><td>	Tunjuelito	</td><td>	UNIDAD DE SERVICIOS DE SALUD EL
TUNAL 	</td><td>	KR 20 47 B 35 SUR 	</td><td>	Lunes a Viernes 8:00 a.m. - 4:00 p.m.
	</td></tr>
<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD NUEVO
MUZÚ 	</td><td>	DG 53 SUR 59 A 11 	</td><td>	Martes 8:00 a.m. - 11:30 a.m.	</td></tr>



<tr><td>	7	</td><td>	Bosa	</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUDPABLO VI 	</td><td>	KR 78 A BIS 69 B 70 Sur	</td><td>Miércoles 8:00 a.m. - 12:00 p.m. y 2:00 p.m. - 5:00
p.m. Viernes 2:00 p.m. - 5:00 p.m.	</td></tr>


<tr><td>		</td><td>		</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD PORVENIR 	</td><td>	CL 57 SUR 110 A 29  	</td><td>	Jueves 8:00 a.m. - 12:00 p.m.

	</td></tr>


<tr><td>		</td><td>		</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD CABAÑAS </td><td>	CL 57 Sur #110A-29	</td><td>	Jueves de 8:00am a 12:00m	</td></tr>


<tr><td>	8	</td><td>	Kennedy	</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD 30 BOMBEROS	</td><td>	CL 40 C SUR 79 10 	</td><td>	Martes 8:00 a.m. - 3:00 p.m.	</td></tr>


<tr><td>		</td><td>		</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD 68 BRITALIA	</td><td>	KR 81 C 48 25 SUR 	</td><td>	Miércoles 2:00 p.m. - 4:00 p.m	</td></tr>


<tr><td>		</td><td>		</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD 50 MEXICANA</td><td>	CL 40 SUR 89 44	</td><td>	Jueves 8:00 a.m. - 12:00 p.m.	</td></tr>




<tr><td>	9	</td><td>	Fontibón	</td><td>	CADE ANTIGUO	</td><td>	TV 97 B 16 H 60 	</td><td>	Miércoles y Jueves 7:00 a.m. - 1:00 p.m	</td></tr>


<tr><td>		</td><td>		</td><td>	CADE ZONA FRANCA	</td><td>	DG 16 104 51 	</td><td>	Viernes 8:00 a.m. - 12 p.m. y 2:00 p.m. - 4:00 p.m.	</td></tr>


<tr><td>	10	</td><td>	Engativá	</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD EMAUS 	</td><td>	CL 64 C 121 60 	</td><td>	Miércoles 7:00 a.m. - 3:00 p.m.
	</td></tr>
	
<tr><td>		</td><td>		</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD FERIAS 	</td><td>	CL 75 69 H 05 	</td><td>	Jueves 7:00 a.m. - 3:00 p.m	</td></tr>

<tr><td>		</td><td>		</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD ENGATIVÁ	</td><td>	TV 100 A 80 A 60	</td><td>	Viernes 7:00 a.m. - 3:00 p.m.	</td></tr>



<tr><td>	11	</td><td>	Suba	</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD SUBA	</td><td>	KR 92 146 30 	</td><td>	Martes 8:00 a.m. - 1:00 p.m.	</td></tr>

<tr><td>		</td><td>		</td><td>	CENTRO DE ATENCIÓN PRIORITARIA EN
SALUD GAITANA	</td><td>	TV 117 133 00	</td><td>	Miércoles 8:00 a.m. - 5:00 p.m.	</td></tr>

<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD RINCON	</td><td>	KR 94 B 129 B 04 	</td><td>	Jueves 8:00 a.m. - 12:00 p.m. 	</td></tr>

<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD SUBA </td><td>	AV CIUDAD DE CALI 152 00 	</td><td>	Jueves 2:00p.m. - 5:00 p.m.</td></tr>

<tr><td>		</td><td>		</td><td>	 SEDE SALUD PÚBLICA	</td><td>	KR 90 147 60 	</td><td>	Viernes 2:00 p.m. - 5:00 p.m.	</td></tr>



<tr><td>	12	</td><td>	Barrios Unidos	</td><td>	ALCALDÍA LOCAL DE BARRIOS UNIDOS 	</td><td>	CL 74 A 63 04 	</td><td>	Lunes 1:00 p.m. - 4:30 p.m	</td></tr>


<tr><td>	13	</td><td>	Teusaquillo	</td><td>	SUBDIRECCIÓN LOCAL DE INTEGRACIÓN
SOCIAL CHAPINERO 	</td><td>	CL 50 A 13 58 	</td><td>	Miércoles 8:00 a.m. - 12:00 p.m.
Viernes 1:00 p.m. - 4:30 p.m.	</td></tr>


<tr><td>	14	</td><td>	Mártires	</td><td>	UNIDAD DE SERVICIOS DE SALUD SAMPER
MENDOZA	</td><td>	KR 23 22 A 26 	</td><td>	Martes 8:00 a.m. -12:00 p.m. </td></tr>




<tr><td>	15	</td><td>	Antonio Nariño	</td><td>	UNIDAD DE SERVICIOS DE SALUD OLAYA	</td><td>	KR 21 22 51 SUR 	</td><td>	Viernes 8:00 a.m. - 4:00 p.m.
	</td></tr>


<tr><td>	16	</td><td>	Puente Aranda	</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD 28 ALCALA MUZU 	</td><td>	CL 69 68 A 34 	</td><td>	Viernes 8:00 a.m. - 12:00 p.m.
	</td></tr>
<tr><td>		</td><td>		</td><td>	UNIDAD PRESTADORA DE SERVICIOS DE
SALUD TRINIDAD GALAN 	</td><td>	KR 60 4 33 	</td><td>	Miércoles 8:00 a.m. - 12:00 p.m.	</td></tr>


<tr><td>	17	</td><td>	La Candelaria	</td><td>	UNIDAD DE SERVICIOS DE SALUD LA
CANDELARIA	</td><td>	KR 3 15 33 	</td><td>	Viernes 8:00 a.m. -12:00 p.m. 	</td></tr>


<tr><td>	18	</td><td>	Rafael Uribe Uribe	</td><td>	UNIDAD DE SERVICIOS DE SALUD
CHIRCALES	</td><td>	TV 5 L BIS 48 F 69 SUR 	</td><td>	Lunes 8:00 a.m. - 4:00 p.m.	</td></tr>

<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD BRAVO
PAEZ 	</td><td>	CL 37 SUR 25 37 	</td><td>	Martes y Jueves 8:00 a.m. - 4:00 p.m.	</td></tr>

<tr><td>	19	</td><td>	Ciudad Bolivar	</td><td>	SEDE SALUD PÚBLICA	</td><td>	KR 37A 64C 10 SUR	</td><td>	Lunes, Martes y Jueves
8:00 a. m.-12:00 p.m	</td></tr>

<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD VISTA
HERMOSA	</td><td>	CLL 67A SUR 18C 12 	</td><td>	Miércoles y Viernes
8:00 a. m. - 12:00 p.m.	</td></tr>

<tr><td>	20	</td><td>	Sumapaz	</td><td>	UNIDAD DE SERVICIOS DE SALUD SAN
JUAN DE SUMAPÁZ	</td><td>	VEREDA SAN JUAN 	</td><td>	Lunes a Viernes 8:00 a.m. - 5:00 p.m.	</td></tr>

<tr><td>		</td><td>		</td><td>	UNIDAD DE SERVICIOS DE SALUD
NAZARETH 	</td><td>	VEREDA NAZARETH 	</td><td>	Lunes a Viernes 8:00 a.m. - 5:00 p.m	</td></tr>


</table>

</div>
</div>
{% endblock %}
